Smart-Email-Automation/Email-Categoriser.json
{
  "name": "Email-categoriser",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 59
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2704,
        144
      ],
      "id": "335ee345-2a3f-4868-b6a9-abd4e49aa59b",
      "name": "When Email Reveived",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject:  {{ $json.Subject }}\nEmail body:{{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promotional / Sales",
              "description": "Marketing and promotional emails intended to advertise products, services, discounts, special offers, newsletters, product launches, coupons, seasonal sales, or brand announcements. These emails are commercial in nature and encourage purchases or user engagement with a business."
            },
            {
              "category": "Personal",
              "description": "Emails related to personal communication between individuals, including messages from family, friends, classmates, colleagues, or acquaintances. These emails typically involve conversations, greetings, invitations, personal updates, or non-commercial discussions and do not promote products, services, or financial transactions."
            },
            {
              "category": "Internship & Jobs",
              "description": "Evaluate the following factors:\n- The sender appears to be a legitimate recruiter or organization.\n- The company or organization is clearly identified.\n- The internship details are specific and professionally written.\n- The email contains a clear hiring process or interview invitation.\n- The role matches a typical internship or entry-level opportunity.\n- The email requests reasonable information only.\n- There are no signs of phishing, scams, unrealistic promises, or suspicious links.\n- The opportunity appears credible and worth pursuing.\n\nReturn your response ONLY as valid JSON in the following format:\n\n{\n  \"classification\": \"High Priority Internship\" | \"Normal Internship\" | \"Not an Internship\",\n  \"confidence\": 0-100,\n  \"priority\": \"High\" | \"Medium\" | \"Low\",\n  \"reason\": \"Brief explanation for your decision.\"\n}\n\nConfidence Guidelines:\n- 90–100: Verified-looking opportunity with interview invitation, assessment, recruiter contact, or official company communication.\n- 70–89: Appears to be a genuine internship opportunity with strong indicators of legitimacy.\n- 50–69: Internship-related but lacks sufficient details or credibility.\n- Below 50: Not an internship or appears suspicious.\n\nOnly classify an email as \"High Priority Internship\" if the confidence score is 70 or higher."
            },
            {
              "category": "Payments & Finance",
              "description": "Emails related to financial activities, including payment confirmations, invoices, receipts, subscription renewals, billing statements, bank notifications, credit card alerts, salary notifications, refunds, tax documents, and transaction confirmations. Any email whose primary purpose is to communicate financial information belongs here."
            },
            {
              "category": "Misleading / Scam",
              "description": "Classify an email as \"Misleading\" if it contains one or more of the following:\n- Phishing attempts\n- Fake internship or job offers\n- Fake bank or payment notifications\n- Requests for passwords, OTPs, or sensitive information\n- Suspicious links or attachments\n- Impersonation of a trusted person, company, or organization\n- Unrealistic rewards, lotteries, giveaways, or prizes\n- Urgent threats designed to pressure the recipient\n- Requests to transfer money or gift cards\n- Poor grammar or suspicious sender identity combined with other red flags\n\nIf the email appears legitimate, classify it as \"Legitimate\".\n\nAnalyze the sender, subject, and email body carefully before making a decision.\n\nReturn your response ONLY as valid JSON in the following format:\n\n{\n  \"classification\": \"Misleading\" | \"Legitimate\",\n  \"confidence\": 0-100,\n  \"reason\": \"A concise explanation of why the email was classified this way.\"\n}\n\nConfidence Guidelines:\n- 95–100: Almost certainly misleading or phishing.\n- 80–94: Strong evidence of misleading or fraudulent intent.\n- 60–79: Some suspicious indicators, but uncertain.\n- Below 60: Appears legitimate.\n\nOnly classify an email as \"Misleading\" if your confidence is 80 or higher."
            },
            {
              "category": "Updates & Notifications",
              "description": "Informational emails that notify users about account activity, security alerts, password resets, order status, shipping updates, delivery confirmations, system notifications, service announcements, or changes to an account or application. These emails provide important updates but are not promotional or personal conversations."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -2304,
        96
      ],
      "id": "e0daf640-a1f8-4c77-ab3e-a7b48f61676f",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('When Email Reveived').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1376,
        96
      ],
      "id": "eb7c9e2e-d2f6-402b-81ed-9da1d258ac5d",
      "name": "Mark a message as read",
      "webhookId": "f1517080-8b11-449c-8687-280909b0c410",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('When Email Reveived').item.json.id }}",
        "labelIds": [
          "Label_1406150894104092737"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1952,
        528
      ],
      "id": "7a6e5294-7222-4d91-911e-6fc0d8fbc5d5",
      "name": "Payment",
      "webhookId": "8bed0043-98a3-4241-921f-8c5a7caba91a",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('When Email Reveived').item.json.id }}",
        "labelIds": [
          "Label_1515996602235238093"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1952,
        240
      ],
      "id": "80e9aded-5e07-4191-b2d9-5f5ef0eba9fa",
      "name": "Intership",
      "webhookId": "8bed0043-98a3-4241-921f-8c5a7caba91a",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('When Email Reveived').item.json.id }}",
        "labelIds": [
          "Label_5473802814784403401"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1952,
        720
      ],
      "id": "bcbecdb9-6d6c-4214-bbfa-bc27d2946381",
      "name": "Misleading",
      "webhookId": "8bed0043-98a3-4241-921f-8c5a7caba91a",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('When Email Reveived').item.json.id }}",
        "labelIds": [
          "Label_7402011371190937922"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1952,
        -256
      ],
      "id": "2c2230ed-8a4e-4463-a893-fd0ae2b337fd",
      "name": "Promotional",
      "webhookId": "8bed0043-98a3-4241-921f-8c5a7caba91a",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('When Email Reveived').item.json.id }}",
        "labelIds": [
          "Label_1766319762874679019"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1952,
        48
      ],
      "id": "10e3e73e-1076-4ea7-8eed-a7d1b6c31d0b",
      "name": "Personal",
      "webhookId": "8bed0043-98a3-4241-921f-8c5a7caba91a",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Read the email and return only JSON.\n\nFields:\nsummary: descriptive 2-3 sentence summary\npriority: one of High, Medium, Low\ncategory: one of Internship, Promotional, Updates & notifications, Normal\n\nEmail subject:\n{{ $('When Email Reveived').item.json.Subject }}\n\nEmail body:\n{{ $('When Email Reveived').item.json.snippet }}\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1728,
        -176
      ],
      "id": "1d762ee0-40e0-4364-a582-cb6dc8d5fce4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appiy42nP2laeaCdl",
          "mode": "list",
          "cachedResultName": "Gmail Automation",
          "cachedResultUrl": "https://airtable.com/appiy42nP2laeaCdl"
        },
        "table": {
          "__rl": true,
          "value": "tblWMfqimXMeE8l1H",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiy42nP2laeaCdl/tblWMfqimXMeE8l1H"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subject Line": "={{ $('When Email Reveived').item.json.Subject }}",
            "Mail Id": "={{ $('When Email Reveived').item.json.From }}",
            "Summary": "={{ $('AI Agent').first().json.output.summary}}",
            "Category": "={{ $('AI Agent').first().json.output.category }}",
            "Priority": "={{ $('AI Agent').first().json.output.priority}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mail Id",
              "displayName": "Mail Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject Line",
              "displayName": "Subject Line",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Internship",
                  "value": "Internship"
                },
                {
                  "name": "Promotional",
                  "value": "Promotional"
                },
                {
                  "name": "Updates & notifications",
                  "value": "Updates & notifications"
                },
                {
                  "name": "Normal",
                  "value": "Normal"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -1376,
        -112
      ],
      "id": "124d5bdb-7d8b-479f-8c96-78fc01c9405e",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0nOoVeE7ZmbS01k",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('When Email Reveived').item.json.id }}",
        "labelIds": [
          "Label_7448145273718966828"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1952,
        912
      ],
      "id": "3d7998d8-2359-406d-95b8-9b3610eef8bc",
      "name": "Updates and notification",
      "webhookId": "8bed0043-98a3-4241-921f-8c5a7caba91a",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('When Email Reveived').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "replyTo": "={{ $('When Email Reveived').item.json.From }}",
          "threadId": "={{ $('When Email Reveived').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1376,
        336
      ],
      "id": "dc236d98-1fa1-49b9-ae1a-d32f56c1e5de",
      "name": "Create a draft",
      "webhookId": "1c398b95-f713-4b9e-abf1-5a5615941c72",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent AI email assistant responsible for drafting replies to emails classified under the \"Personal\" category.\n\nThe Personal category includes emails from family members, friends, relatives, classmates, colleagues, or close acquaintances.\n\nYour objective is to write a natural, warm, thoughtful, and context-aware email reply.\n\nGuidelines:\n- Carefully understand the sender's message before replying.\n- Respond directly to the points mentioned in the email.\n- Match the sender's tone (friendly, caring, appreciative, supportive, congratulatory, apologetic, or concerned).\n- If the sender asks questions, answer them naturally based only on the information provided.\n- If additional information is needed, politely ask for clarification instead of making assumptions.\n- Never invent facts, dates, events, commitments, or personal information.\n- Do not generate robotic or generic responses.\n- Keep the reply concise (80–180 words).\n- Use proper grammar and a conversational tone.\n- Do not include a subject line.\n- Return only the email body.\n- End with a polite and natural closing such as:\n  - Best regards\n    Anish kumar,\n  - Take care,\n  - Thanks,\n  - Love,\n  - See you soon,\n  depending on the context.\n\nReceived Email\n\nFrom:\n{{ $('When Email Reveived').item.json.From }}\n\nSubject:\n{{ $('When Email Reveived').item.json.Subject }}\n\nEmail Body: \n{{ $('When Email Reveived').item.json.snippet }}\n\n\nGenerate a complete email reply that feels like it was personally written by the recipient.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1728,
        336
      ],
      "id": "795bf885-2f3f-4e1e-8d77-b48f291125ce",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "trash",
        "threadId": "={{ $json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1664,
        784
      ],
      "id": "1c968afd-026c-4bb1-af3f-51fbc684bad8",
      "name": "Trash a thread",
      "webhookId": "b09a800c-89c4-4a2f-9e9b-a5e526576b8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "R44pvLZNlnLQhweX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"string\",\n  \"priority\": \"High\",\n  \"category\": \"Internship\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1600,
        64
      ],
      "id": "778e1912-2adb-4ee1-83d8-db6871e26a79",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "poolside/laguna-xs-2.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2272,
        448
      ],
      "id": "1f86a366-697c-4225-ac14-56fa513d05e8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "p7h0saohzszOvfdp",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "poolside/laguna-xs-2.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1728,
        64
      ],
      "id": "1372382d-9b4e-4b46-9fae-07f2686b3022",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "p7h0saohzszOvfdp",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "poolside/laguna-xs-2.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1664,
        560
      ],
      "id": "aad59e65-bceb-4f49-b7c4-02af2dbd2995",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "p7h0saohzszOvfdp",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Email Reveived": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Promotional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intership",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Misleading",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updates and notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intership": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment": {
      "main": [
        []
      ]
    },
    "Misleading": {
      "main": [
        [
          {
            "node": "Trash a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        []
      ]
    },
    "Promotional": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updates and notification": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trash a thread": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c01d331e-54c6-43a8-b7e5-f633d1ff7fe5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c9df4463264512c61741cb731676b4cd4750cffc00668873d5be4f640269084"
  },
  "id": "pxAJtUxWEZaOx5AE",
  "tags": []
}